body {
  font-family: Roboto, sans-serif;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.site-nav :focus {
  color: #2196f3;
}
.site-nav:hover {
}
/*-----------HEADER-----------*/
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.page-header {
  background: #ffffff;
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-color-black {
  color: black;
}
.link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.contact-link {
  color: #757575;
}
.link:hover {
  color: #2196f3;
}
/*-----------HERO--------------*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-btn {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
  color: #ffffff;
}
.hero-btn:hover {
  background: #188ce8;
}
.hero {
  background: #2f303a;
}
/*-----------ADVANTAGES-------------*/
.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
.advantages-list-title {
  font-family: Roboto, sans-serif;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages-list-text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*-----------WHATWEDO-------------*/
.whatwedo-image-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*-----------TEAM-------------*/
.title-section {
  font-family: Roboto, sans-serif;
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.team-item-title,
.team-item-text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-item-text {
  font-weight: 400px;
  color: #757575;
}
/* FOOTER*/

.footer-nav-list {
  background: #2f303a;
  padding: 60px 0;
}
.logo-color-white {
  color: #ffffff;
}
.footer-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
